@media screen and (max-width: 62.5rem) {

    .main{
 height: 100vh;
     
    
      
      
    }

    .cards{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
       
      margin-top: 1rem;
   

      
    &__card{
        height: 15rem;
        aspect-ratio: 1/1;
       
    }
    &__circle{
        height: 8rem;
        aspect-ratio: 1/1;
      
    }


}
.footer{
    &__section{
        height: 70vh;
    }



}
}

@media screen and (max-width: 50rem) {

    .main{
        gap: 1rem;
        height: 100vh;
    }
}

@media screen and (max-width: 39rem) {

    .main{
        height: 130vh;
        gap: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    

    .cards{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
       
      margin-top: 1rem;
   

      
    &__card{
        height: 10rem;
        aspect-ratio: 1/1;
       
    }
    &__circle{
        height: 5rem;
        aspect-ratio: 1/1;
      
    }}}
}