.footer{
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.input{
  height: 10rem;
  width: 80%;


 
    &__input{

      
        width: 100%;
        padding: 2rem;
     

    }
}