.forms__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 2rem;
  }
  
  .form__textArea {
    width: 50rem;
    height: 15rem;
    padding: 1.5rem;
    border: 0.2rem solid #28c0c3;
  }
  
  .form__date {
    font-size: 4rem;
  }
  
  .form__title {
    font-size: 2rem;
    padding: 2rem;
    font-family: 'Open Sans', sans-serif;
  }

  .form__buttons{
    padding: 3rem;
  }

  .saveButton{
    height: 3rem;
    width: 15rem;
  }

  .addButton{
    height: 3rem;
    width: 15rem;
  }
  