.forms__wrapper {
    position: relative; /* Update to relative positioning */
    text-align: center;
    padding: 2rem;
  }
  
  .newTextarea {
    position: absolute; /* Set position to absolute */
    top: 0; /* Position from top of parent element */
    left: 0; /* Position from left of parent element */
    width: 100%; /* Set width to 100% to fill parent element */
    height: 10rem; /* Update height as needed */
    resize: none;
  }
  
  .form__textArea {
    width: 50rem;
    height: 15rem;
    padding: 1.5rem;
    border: 0.2rem solid #28c0c3;
    resize: none;
  }
  
  .form__date {
    font-size: 4rem;
  }
  
  .form__title {
    font-size: 2rem;
    padding: 2rem;
    font-family: 'Open Sans', sans-serif;
  }
  
  .form__buttons {
    padding: 3rem;
  }
  
  .saveButton {
    height: 3rem;
    width: 15rem;
  }
  
  .addButton {
    height: 3rem;
    width: 15rem;
  }
  