*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-size: 2rem;
  font-family: sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.main {
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
}

.Scroll__Link {
  transition: 0.2s;
  text-decoration: none;
  color: black;
  display: flex;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.cards__card {
  height: 20rem;
  aspect-ratio: 1/1;
  background: red;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}
.cards__card--groen {
  background: rgba(0, 255, 17, 0.6);
}
.cards__card--geel {
  background: rgba(255, 255, 0, 0.6);
}
.cards__card--oranje {
  background: rgba(249, 182, 4, 0.6);
}
.cards__card--rood {
  background: rgba(251, 7, 7, 0.6);
}
.cards__circle {
  height: 10rem;
  aspect-ratio: 1/1;
  background: green;
  border: 0.2rem solid white;
  border-radius: 50%;
}
.cards__circle--groen {
  background: rgb(0, 255, 17);
}
.cards__circle--geel {
  background: rgb(255, 255, 0);
}
.cards__circle--oranje {
  background: rgb(249, 182, 4);
}
.cards__circle--rood {
  background: rgba(251, 7, 7, 0.6);
}
.cards:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.2s all;
}

.header {
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.8);
}
.header__text {
  color: #2DB7B3;
  font-weight: 200;
  padding: 2rem;
}
.header__figure {
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__doesburg {
  height: 8rem;
}

.footer {
  font-family: sans-serif;
  color: #2DB7B3;
}
.footer__section {
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  vertical-align: top;
}
.footer__text {
  padding: 1rem;
  color: #2DB7B3;
}
.footer__ButtonSave {
  height: 5rem;
  width: 10rem;
}
.footer__Buttons {
  height: 5vh;
  padding: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
.footer__ButtonSave {
  height: 5rem;
  width: 20rem;
  border: none;
  border-radius: 1rem;
  background: #2DB7B3;
}
.footer__ButtonSave:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.2s all;
  color: white;
}

.input {
  height: 15rem;
  width: 80%;
  background: red;
  font-family: sans-serif;
  color: #2DB7B3;
}
.input__textarea {
  width: 100%;
  height: 100%;
  padding: 2rem;
  text-align: center;
  border: 0.2rem solid #2DB7B3;
}

@media screen and (max-width: 62.5rem) {
  .main {
    display: block;
    padding-top: 1rem;
  }
  .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 1rem;
  }
  .cards__card {
    height: 10rem;
    aspect-ratio: 1/1;
  }
  .cards__circle {
    height: 5rem;
    aspect-ratio: 1/1;
  }
}

/*# sourceMappingURL=style.css.map */
